{{- partial "header.html" . -}}
<div class="col-12 cabecera">
    <a href="work/"><i class="fa fa-chevron-left fa-lg" aria-hidden="true"></i></a><br/> 
    <h2><span class="borde">{{ .Title }}</span></h2>
    {{ .Params.empresa }}
</div>

<div class="row">
    <div class="col-12">
        <nav class="tags nav justify-content-center flex-column flex-sm-row text-center">
            {{- range .Params.tags -}}
                <a class="label" href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>                
            {{- end -}}
        </nav>

        {{ .Content }} 
        
        {{- $urldef := replace (index (split .Permalink "/" ) 4) " " "" -}} 
        {{- $files := readDir (print "static/imgPrj/" $urldef) -}} 
        
        {{- range $files -}} 
            {{- if not (in .Name "thumb.jpg") -}}
            <span class="imgWork"><img class="d-block img-fluid" src="imgPrj/{{ $urldef }}/{{ .Name }}" style="width:100%" /></span>
            <br/>
            {{- end -}} 
        {{- end -}}
    </div>
    {{- partial "social.html" . -}}
</div>
{{- partial "footer.html" . -}}